<!DOCTYPE html>
<html>
<head lang="en">

    <script src="/static/jquery-1.11.0.min.js"></script>
    <script src="/static/sockjs-0.3.min.js"></script>
    <link href="/static/mycss.css" rel="stylesheet" type="text/css"/>

    <script src="/static/light.js"></script>
    <meta charset="UTF-8">
    <title>light</title>
</head>
<body>
hello light
<input type="button" name="" id='id1' value="id1" onclick=id1() />
<input type="button" name="" id='id2' value="id2" onclick=id2() />
<input type="button" name="" id='id3' value="id3" onclick=id3() />
<input type="button" name="" id='id0' value="id0" onclick=id0() />
</body>
</html>