<html lang="en">
<head>
    <script src="/static/jquery-1.11.0.min.js"></script>
    <script src="/static/sockjs-0.3.min.js"></script>
    <script type="text/javascript" src="/static/ichart.1.2.js"></script>
    <script src="/static/rfid.js"></script>
    <link href="/static/mycss.css" rel="stylesheet" type="text/css"/>

    <meta charset="UTF-8"/>
    <title>RFID chat</title>
</head>
<body>
<table id="data_table" class="hovertable">
    <tr>
        <th>电子标签id</th>
        <th>低频触发器</th>
    </tr>
</table>
<textarea id="chat-content" style="width:500px;height:300px"></textarea><br/>
<!--<input type="text" name="" value="" id="username" placeholder="Choose username"/>
<input type="text" id="message" name="" value="" placeholder="Enter chat message"/>-->
<!--<input type="button" name="" value="连接" onclick="sendMessage()"/>-->

<!-- Table goes in the document BODY -->


</body>
</html>
